<%- include('cabecalho.ejs')%>
    <h1> Bermuda </h1>
    <div>
        Nome:<br>
        Preço:<br>
        Tamanhos:<br>
    </div>
    <div>
        Nome:<%=nome%><br>
        Preço:<%=preco%><br>
        Tamanhos:<%=tamanhos%><br>
    
    </div>
    <%- include('rodape.ejs')%>