<%- include('cabecalho.ejs')%>
<h1> Mensagem Enviada !!! </h1>
<h2> Confira os dados, por favor </h2>
         Nome:<%=nome%>
        Assunto:<%=assunto%>
        mensagem:<%=msg%>


<%- include ('rodape.ejs')%>